.contact-filter {
    padding: 20px;

    input {
        height: 50px;
        width: 290px;
        border-radius: 10px;
        font-size: 18px;
        text-indent: 20px;
        border: none;
        background-color: rgb(239, 231, 241);
    }
}