.app-root {
    h1 {
        font-size: 2em;
        margin-left: 20px;
      padding: 20px;

    }

    header{
        // color: aliceblue;
        height: 100px;
        background-color: rgb(147, 94, 161);
    }

}