<section class="app-root">
  <header>
    <h1>MisterBITCoin</h1>

    <section class="action-btn">
      <button (click)="showPage(1)">Home</button>
      <button (click)="showPage(2)">Contacts</button>
      <button (click)="showPage(3)">Contact Details</button>
      <!-- <button (click)="showPage(4)">Watcher App</button> -->
    </section>
  </header>
  <div *ngIf="currentPage === 1">
    <home-page />
  </div>

  <div *ngIf="currentPage === 2">
    <contact-index />
  </div>

  <div *ngIf="currentPage === 3">
    <contact-details-page />

  </div>

  <!-- <div *ngIf="currentPage === 4">
    <watcher-app></watcher-app>
  </div> -->

</section>