<section class="contact-index">
    <!-- <contact-details-page (onBack)="selectedContactId = null" *ngIf="selectedContactId; else contactList" -->
        <!-- [contactId]="selectedContactId"></contact-details-page> -->

    <!-- <ng-template #contactList> -->

        <div class="edit-btn"><a routerLink="/contact/edit">Add Contact</a></div>
        <contact-filter></contact-filter>
        <contact-list [contacts]="contacts$ | async" (remove)="onRemoveContact($event)"></contact-list>
    <!-- </ng-template> -->
    <!-- (onSelect)="selectedContactId = $event" -->
</section>
<router-outlet />