/* You can add global styles to this file, and also import other style files */
*{
    margin: 0; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

body{
    background-color: rgb(194, 170, 200);
    color:  rgb(54, 45, 59);
   
}